
@import '../../assets/scss/Variable.scss';
@import '../../assets/scss/Font.scss';
@import '../../assets/scss/Responsive.scss';

.iconBox{
    h6{
        font-family: "Avenir-Bold", sans-serif;
        font-family: 700;
    }
    span{
        font-size: .9rem;
    }
}